
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

body {
    background-color: rgb(227, 227, 227);
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* view height */
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.loginBox{
    width: 700px;
    height: 450px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(171, 171, 171) ;
    border-radius: 15px;
    
    -webkit-box-shadow: 2px 8px 15px 3px rgba(0,0,0,0.5); 
    box-shadow: 2px 8px 15px 3px rgba(0,0,0,0.5);

    background-color: white;

    display: flex;

}

.leftColumn{
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.leftColumn img {
    width: 80%;
}

.leftColumn a{
    color: black;
}

.rightColumn{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FORM ELEMENTS */

.rightColumn form div .fa-user {
    position: absolute;
    left: 10px;
}
.rightColumn form div input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    padding-left: 35px;
    outline: none;
}
.rightColumn form div {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}



.rightColumn form div .fa-lock {
    position: absolute;
    left: 10px;
}

/* TMP */
.parent {
    display: block;
    width: 500px;
    height: 300px;
    border: 1px solid red;
     position: relative;
}
.box{
    border: 1px solid green;
    margin: 5px;
    height: 25px;
    position: relative;
    
}

.box1{
    top: 25px;
    left: -25px;
    background-color: aliceblue;
    z-index: 1;
    position: absolute;
}
.box2{
    background-color: aquamarine;
}


/* pseudo class */ 
a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.btnLogIn {
    color: white;
    text-transform: capitalize;
    background-color: #6eade3;
    width: 75px;
    height: 35px; 

    border-width: 1px;
    border-color: #466e91;
    border-style: solid;
    border-radius: 4px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.btnFacebook{
    color: #385c98;
    font-size: 22px;
}
.btnTwitter{
    color: #21a1f0;
    font-size: 22px;
}
.btnGoogle{
    color: #f0283a;
    font-size: 22px;
}

h1 {
    text-transform: capitalize;
}
/*
.lastRowInColumn{
    position: absolute;
    bottom: 50px;
}*/

.child {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}